APP_PORT=0.0.0.0:8080
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
CU_BASE_URL=https://my.centraluniversity.ru
EVENT_SYNC_INTERVAL=1h
CU_SERVICE_COOKIE=
S3_ENDPOINT=http://garage:3900
S3_PUBLIC_ENDPOINT=http://localhost:3900
S3_REGION=garage
S3_ACCESS_KEY=access-key
S3_SECRET_KEY=secret-key-change-me
S3_BUCKET=cu-faculty
S3_USE_PATH_STYLE=true
S3_PRESIGN_TTL=15m
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_ALLOW_INSECURE=false
COMPLAINTS_EMAIL_TO=niti.uni@outlook.com
FRONTEND_BASE_URL=http://localhost:5173
